/.vscode/

fsm/.vscode/
fsm/.vs/fsm/v15/Browse.VC.db
fsm/.vs/fsm/v15/Browse.VC.opendb
fsm/.vs/fsm/v15/ipch/AutoPCH/60353238a1283190/FSM.ipch
fsm/.vs/fsm/v15/ipch/AutoPCH/bdad6c8c68f0040e/DEBUGOUTPUT.ipch
fsm/.vs/fsm/v15/ipch/AutoPCH/23c177863f62ee0c/DEBUGOUTPUT.ipch
fsm/.vs/fsm/v15/ipch/AutoPCH/d219b43e78693b6/ODDYSEYX86GPIO.ipch
fsm/.vs/fsm/v15/ipch/AutoPCH/a7b8246a94880a47/MCPGPIO.ipch

fsm/build
fsm/controller
sqlite/build

### QT Creator ###

/build

/build-ui-Desktop-Debug/*

### Qt ###
# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database 
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

### VisualStudioCode ###
.vscode/*
.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

/pg_db/build/*
ui/ui.pro.user


### C ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
