[Unit]
Description = DB push to Heroku
After=network.target

[Service]
ExecStart = /release/dbbackup.sh > /home/df-admin/drinkfill/db.log

Restart = always
RestartSec = 60min

[Install]
WantedBy = multi-user.target

