[Unit]
Description=DF Wifi USB
After=network.target
StartLimitBurst=6
StartLimitIntervalSec=10

[Service]
ExecStart=/release/usbwifi.sh
Type=simple
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
