[Unit]
Description=Soapstand UI
StartLimitBurst=6
StartLimitIntervalSec=10

[Service]
Requires=screen-calibration
ExecStart=/home/df-admin/production/admin/ui_execute.sh
Type=simple
Restart=always #on-failure
RestartSec=5
User=df-admin

[Install]
WantedBy=multi-user.target


