#label_input_background{
    background: #F9EBD8;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

#label_input_info{
    color: #211403ba;
    font-family: 'Lato';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

#lineEdit_input{
    font-family: 'Lato';
    font-size: 24px;
    color: #211403;
    font-style: normal;
    font-weight: 700;
    border-radius: 15px;
    background: #FFF;
    padding-left: 10px;
}