QPushButton {
   background-color: transparent;
   border: 0px;
}

#label_message{
   color: #211403;
   text-align: center;
   qproperty-alignment: AlignCenter;
   font-family: 'El Messiri';
   font-size: 64px;
   font-style: normal;
   font-weight: 400;
}

#label_message_2 {
   color: #211403;
   text-align: center;
   qproperty-alignment: AlignCenter;
   font-family: 'Lato';
   font-size: 30px;
   font-style: normal;
   font-weight: 400;
}

.volumeDispensedStylesheet {
   color: #895E25;
   text-align: center;
   qproperty-alignment: AlignCenter;
   font-family: 'Lato';
   font-size: 30px;
   font-style: normal;
   font-weight: 700;
}

#pushButton_contact {
   color: #895E25;
   text-align: center;
   qproperty-alignment: AlignCenter;
   font-family: 'Lato';
   font-size: 48px;
   font-style: normal;
   font-weight: 400;
   border-radius: 25px;
   border: 5px solid #895E25;
   background: transparent;
}