QPushButton {
    background-color: transparent;
    border: 0px
}

QLabel {
    font-family: 'EuropaNuova';
    font-style: normal;
    font-weight: 700;
    font-size: 85px;
    line-height: 99px;
    text-align: center;
    color: #FFFFFF;
    qproperty-alignment: AlignCenter;
}

#label_welcome_message_small_top, #label_welcome_message_small_bottom{
    background: transparent;
    color: #895E25;
    text-align: center;
    qproperty-alignment: AlignCenter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    font-family: 'El Messiri';
}

#label_welcome_message {
    font-family: 'El Messiri';
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    qproperty-alignment: AlignCenter;
    background: transparent;
    color: #895E25;
}

#label_show_temperature {
    font-size: 32px;
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 700;
}

#label_printer_status {
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 400;
    background-color: transparent;
    font-size: 24px;
    text-align: left;
    qproperty-alignment: AlignLeft;
    border-radius: 20px;
    color: white;
    border: none;
    line-height: normal;
}

#label_printer_status_background{
    border-radius: 15px;
    background: #bc8439;
}

#label_temperature_warning_background{
    border-radius: 15px;
    background: #895E25;
}

#label_temperature_warning{
    color: white;
    background: transparent;
    font-family: 'El Messiri';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    qproperty-alignment: AlignLeft;
}

#pushButton_to_select_product_page {
    background-color: transparent;
    border: 0px;
}

#label_reboot_nightly_title{
    font-size: 26px;
    color: #3E4153;
    font-family:'EuropaNuova-ExtraBold';
}
#label_reboot_nightly_text{
    font-size: 16px;
    color: #9A9AA6;
}
#label_reboot_nightly_bg{
    background: #FFFFFF;
    border-radius: 5px;
}
#pushButton_reboot_nightly{
    background: #FFD42A;
    font-family:'EuropaNuova-ExtraBold';
    text-transform: uppercase;
    color: #3E4153;
    font-size: 22px;
    border-radius: 5px;
}

