QPushButton {
    background-color: transparent;
    border: 0px
}

QLabel {
    font-family: 'EuropaNuova';
    font-style: normal;
    font-weight: 700;
    font-size: 85px;
    line-height: 99px;
    text-align: center;
    color: #FFFFFF;
    qproperty-alignment: AlignCenter;
}

#label_welcome_message {
    font-size: 80px;
    font-weight: 700;
    line-height: 43px;
    color: white;
    font-family: 'Lora';
    /* font-family: 'Vollkorn'; */
    qproperty-alignment: AlignCenter;
}

#label_show_temperature {
    font-size: 30px;
    font-weight: 700;
    line-height: 43px;
    color: gray;
    
    font-family: 'Lora';
    /* font-family: 'Vollkorn'; */
    qproperty-alignment: AlignCenter;
}

#label_printer_status {
    font-family: 'EuropaNuova';
    font-style: normal;
    font-weight: 100;
    background-color: #5E8580;
    font-size: 42px;
    text-align: center;
    line-height: auto;
    /* qproperty-alignment: AlignCenter; */
    border-radius: 20px;
    color: white;
    border: none;
}

#pushButton_to_select_product_page {

    background-color: transparent;
    border: 0px;
}

#label_manufacturer_logo {
    qproperty-alignment: AlignCenter;
    text-align: center;
}

QMessageBox {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-family: 'EuropaNuova-Regular';
    background: green;
 }
 
 QMessageBox QPushButton {
    border: 1px solid white;
    background: blue;
    font-size: 24px;
    min-width: 150px;
    min-height: 30px;
    qproperty-alignment: AlignLeft;
    margin: 0 auto;
    font-family: 'EuropaNuova-Regular';
 }

 QMessageBox QPushButton:hover { background-color: #777777; }
 
 QLabel {
    /*this label controls the color of the checkbox */
    font-family:'EuropaNuova-Regular';
    font-size:36px;
    color: #58595b;
    font-style:light;
    /* padding: 10px 20px 10px 0px; */
    width: 1000px;
 }

#label_reboot_nightly_bg{
    background: green;
}
#pushButton_reboot_nightly{
    background: yellow;
    border: 1px solid white;
    color: black;
}
#pushButton_reboot_nightly:hover { background-color: #777777; }
/* QMessageBox{
    min-height: 1000px;
    border: 1px solid white;
    qproperty-alignment: AlignCenter;
    text-align: center;
}

QMessageBox.msgBox{
    min-width: 7000px;
    height: 500px;
    font-weight: bold;
    font-style: normal;
    font-family: 'EuropaNuova-Regular';
    background: red;
}

QMessageBox QLabel{
    color: yellowgreen;
    background: blue;
    padding: 25px;
    font-size: 24px;
    text-align: left;
}

QMessageBox QPushButton{
    border: 1px solid white;
    font-size: 24px;
    min-width: 150px;
    min-height: 30px;
    text-align: center;
} */

