#label_select_problem{      /*selector not to make a class*/
   font-family: 'El Messiri';
   font-size: 64px;
   text-align: center;
   qproperty-alignment: AlignCenter;
   color: #211403;
   font-weight: 400;
   font-style: normal;
}

#label_problem_options{
   background-color: #FFF7ED;
   border-radius: 25px;
}

#label_feedback_title{
   font-family: 'El Messiri';
   font-style: normal;
   font-weight: 700;
   font-size: 30px;
   text-align: left;
   qproperty-alignment: AlignLeft;
   color: #211403;
}

#label_enter_feedback, #label_enter_email{
   font-family: 'El Messiri';
   font-style: normal;
   font-weight: 700;
   font-size: 30px;
   color: #211403;
   background-color: transparent;
   text-align: left;
}

.textEdit_custom_message{
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   color: #211403;
   background: #FFF;
   border-radius: 25px;
   padding: 25px;
}

.textEdit_custom_message_alert{
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   color: #895e25;
   background: #FFF;
   border-radius: 25px;
   padding: 25px;
}

.lineEdit_enter_email{
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   color: #211403;
   background: #FFF;
   border-radius: 25px;
   padding: 25px;
}

.lineEdit_enter_email_alert{
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   color: #895e25;
   background: #FFF;
   border-radius: 25px;
   padding: 25px;
}

#label_contact_info{
   font-family: 'Lato';
   font-size: 30px;
   font-style: normal;
   font-weight: 400;
   color: #211403; 
   background-color: transparent;
   text-align: center;
   qproperty-alignment: AlignCenter;
}

#label_thanks_for_feedback{
   font-family: 'El Messiri';
   font-size: 64px;
   color: #211403;
   font-style: normal;
   font-weight: 400;
   text-align: center;
   qproperty-alignment: AlignCenter;
   background-color: transparent;
}

#label_thanks_for_feedback_2{
   font-family: 'Lato';
   font-size: 30px;
   color: #211403;
   font-style: normal;
   font-weight: 400;
   text-align: center;
   qproperty-alignment: AlignCenter;
   background-color: transparent;
}


#label_still_cant_find{
   font-family: 'EuropaNuova-ExtraBold';
   font-style: normal;
   font-weight: 400;
   font-size: 43px;
   line-height: 99px;
   /* letter-spacing: 1.5px; */
   color: #58595B;
   text-align: center;
   /* qproperty-alignment: AlignCenter; */
   border: none
}



QLabel { 
   color:#555555; 
   text-align: center;
   border: 1px; 
}

.buttonTransparent{
   background-color: transparent;
   border: 0px;
}

#pushButton_help_page{
   background-color: transparent; 
   border: 0px ;
}

#pushButton_to_idle{
   background-color: transparent; 
   border: 0px;
}

.buttonPreviousPage{
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   color: #001810;
   text-align: left;
   qproperty-alignment: AlignCenter;
   border: none;
   background: transparent;
}

#pushButton_send{
   border-radius: 25px;
   background-color: #895e25;
   font-family: 'Lato';
   font-size: 48px;
   font-style: nromal;
   font-weight: 400;
   text-align: center;
   qproperty-alignment: AlignCenter;
   color: #fefbfa;
}

QString {
   font-family: 'EuropaNuova-Regular';
   font-style: normal;
   font-weight: 400;
   font-size: 35px;
   line-height: 99px;
   /* letter-spacing: 1.5px; */
   background-color: #221F20;
   color: #FFFFFF;
   text-align: center;
   border-radius: 30px;
   padding: 10px;
   border: 5px inset #58595B;
}

QCheckBox::indicator {
   width: 65px;
   height: 65px;
}

QCheckBox::indicator:checked {
   image: url(%1);
}

QCheckBox::indicator:unchecked {
   image: url(%2);
}

QCheckBox{
   border: none;
   background: transparent;
}

.checkBoxLabelStyling{
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 30px;
   color: #211403;
   text-align: left;
   border: none;
   wordWrap:true;
   background-color: transparent;
}