QPushButton {
    background-color: transparent;
    border: 0px
}

QLabel {
    font-family: 'EuropaNuova';
    font-style: normal;
    font-weight: 700;
    font-size: 85px;
    line-height: 99px;
    text-align: center;
    color: #FFFFFF;
    qproperty-alignment: AlignCenter;
}

#label_welcome_message {
    font-size: 80px;
    font-weight: 700;
    line-height: 43px;
    color: white;
    font-family: 'Lora';
    /* font-family: 'Vollkorn'; */
    qproperty-alignment: AlignCenter;
}

#label_show_temperature {
    font-size: 30px;
    font-weight: 700;
    line-height: 43px;
    color: gray;
    
    font-family: 'Lora';
    /* font-family: 'Vollkorn'; */
    qproperty-alignment: AlignCenter;
}

#label_printer_status {
    font-family: 'EuropaNuova';
    font-style: normal;
    font-weight: 100;
    background-color: #5E8580;
    font-size: 42px;
    text-align: center;
    line-height: auto;
    /* qproperty-alignment: AlignCenter; */
    border-radius: 20px;
    color: white;
    border: none;
}

#pushButton_to_select_product_page {

    background-color: transparent;
    border: 0px;
}

#label_manufacturer_logo {
    qproperty-alignment: AlignCenter;
    text-align: center;
}

#label_reboot_nightly_title{
    font-size: 26px;
    color: #3E4153;
    font-family:'EuropaNuova-ExtraBold';
}
#label_reboot_nightly_text{
    font-size: 16px;
    color: #9A9AA6;
}
#label_reboot_nightly_bg{
    background: #FFFFFF;
    border-radius: 5px;
}
#pushButton_reboot_nightly{
    background: #FFD42A;
    font-family:'EuropaNuova-ExtraBold';
    text-transform: uppercase;
    color: #3E4153;
    font-size: 22px;
    border-radius: 5px;
}
