.button_transparent {
   background-color: transparent;
   border: 0px;
}

.title {
   text-align: center;
   qproperty-alignment: AlignCenter;
   font-family: 'El Messiri';
   font-style: normal;
   font-weight: 400;
   font-size: 60px;
   color: #221403;
   line-height: 1;
}

.additiveTitles{

}

.additiveBackgroundRows{
   border-radius: 30px;
   background: #F9EBD8;
}

#label_customize_drink, #label_select_quantity {
   font-family: "El Messiri";
   color: #221403;
   font-size: 30px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}

#label_additives_background{
   border-radius: 25px;
   border: 1px solid #F9EBD8;
   background: #FFF7ED; 
}

#label_sizes_background{
   border-radius: 25px;
   border: 1px solid #F9EBD8;
   background: #FFF7ED; 
}

.orderSizeLabelsVolume {
   font-family: 'EuropaNuova-Regular';
   /* background-image: url(/home/df-admin/production/references/background.png); */
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: normal;
   color: #221F20;
   text-align: center;
   /* qproperty-alignment: AlignCenter; */
}

.orderSizeLabelsPrice {
   color: #895E25;
   text-align: center;
   font-family: 'Lato';
   font-size: 30px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   qproperty-alignment: AlignCenter;
}

.orderSizeBackgroundLabels {
   background-color: #FEFBF9;
   border: 10px;
}

.orderSizeButtons {
   background-color: transparent;
   border: 5px solid #BC8439;
   border-radius: 10px;
}

#pushButton_back {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   color: #001810;
   text-align: left;
   qproperty-alignment: AlignCenter;
   border: none;
   text-transform: capitalize;
}


#label_product_description {
   position: absolute;
   font-family: 'EuropaNuova-Regular';
   font-style: normal;
   font-weight: 400;
   font-size: 28px;
   line-height: 36px;
   color: #58595B;
   text-align: left;
   qproperty-alignment: AlignLeftCenter;
   margin-top: 20px;
}

#label_product_photo {
   background-image: url(%IMAGE_PATH%);
   border-top-left-radius: 0px;
   border-top-right-radius: 100px;
   border-bottom-right-radius: 100px;
   border-bottom-left-radius: 100px;
   background-repeat: no-repeat;
   background-size: contain;
   background-clip: content;
}

#label_product_ingredients_title {
   color: #221403;
   font-family: 'Lato';
   font-size: 24px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}

#label_product_ingredients {
   color: #221403;
   font-family: 'Lato';
   font-size: 24px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

#pushButton_continue {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   background-color: #895E25;
   font-size: 48px;
   text-align: center;
   line-height: normal;
   qproperty-alignment: AlignCenter;
   border-radius: 25px;
   color: #FEFBF9;
}

/* #label_help {
   font-family: 'Brevia';
   font-style: normal;
   font-weight: 75;
   font-size: 20px;
   line-height: 99px;
   color: #FFFFFF;
   text-align: center;
   qproperty-alignment: AlignCenter;
   border: none;
} */