#pushButton_previous_page {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   color: #001810;
   text-align: left;
   qproperty-alignment: AlignCenter;
   border: none;
   background: transparent;
}

QPushButton {
   font-family: 'Brevia';
   font-style: normal;
   font-weight: 50;
   font-size: 32px;
   color: #003840;
   background-color: #FFFFFF;
   border: 0px;
   text-align: center;
   border-radius: 20px;
   border: none;
}

.invisible_button {
   background-color: transparent;
   border: 0px
}

QMessageBox.msgBoxbox{
   min-width: 7000px;
   font-size: 24px;
   color: red;
   font-weight: bold;
   font-style: normal;
   font-family: 'Montserrat';
   /* Additional styles specific to QMessageBox */
}

QMessageBox.msgBoxbutton QPushButton{
   font-size: 24px;
   min-width: 300px;
   min-height: 300px;
   /* Additional styles specific to QPushButton within QMessageBox */
   
}
