/* QPushButton {
   background-color: transparent;
   border: 0px;
} */

#label_product_price {
   text-align: right;
   font-weight: 600;
   /* font-style: normal; */
   /* background-color: red; */
}

QPushButton {
   font-family: 'Brevia';
   font-style: normal;
   font-weight: 50;
   font-size: 32px;
   color: #003840;
   background-color: #FFFFFF;
   border: 0px;
   text-align: centre;
   border-radius: 20px;
   border: none;
}

#pushButton_previous_page{
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   color: #001810;
   text-align: left;
   qproperty-alignment: AlignCenter;
   border: none;
   background: transparent;
}


.invisible_button{
   background-color: transparent;
   border: 0px;
}
 
#label_title {
   font-family: 'El Messiri';
   font-style: normal;
   font-weight: 400;
   font-size: 64px;
   text-align: center;
   color: #221F20;
}

#label_scan {
   font-family: 'El Messiri';
   color: #895E25;
   font-size: 48px;
   font-style: normal;
   font-weight: 700;
}

#label_steps {
   position: absolute;
   font-family: 'EuropaNuova-ExtraBold';
   font-style: normal;
   font-weight: 400;
   font-size: 36px;
   color: #58595B;
}

#label_processing {
   position: absolute;
   width: 777px;
   height: 306px;
   left: 143px;
   top: 1029px;
   font-family: 'EuropaNuova-ExtraBold';
   font-style: normal;
   font-weight: 400;
   font-size: 36px;
   line-height: 51px;
   color: #221F20;
}

QMessageBox {
   min-width: 7000px;
   font-size: 24px;
   font-weight: bold;
   font-style: normal;
   font-family: 'Montserrat';
}

QMessageBox.msgBoxbutton QPushButton{
   font-size: 24px;
   min-width: 300px;
   min-height: 300px;
}

QLabel {
   /*this label controls the color of the checkbox */
   color: black;
   font-family: 'EuropaNuova-Regular';
   font-weight: 400;
   font-style: normal;
   font-size:24px;
   color: #58595b;
   font-style:light;
}
