#label_to_refill {
   color: #211403;
   text-align: center;
   qproperty-alignment: AlignCenter;
   font-family: 'El Messiri';
   font-size: 64px;
   font-style: normal;
   font-weight: 400;
}

#label_instructions_container {
   color: #895E25;
   font-family: 'El Messiri';
   font-size: 30px;
   font-style: normal;
   font-weight: 700;
   padding: 30px;
   background: rgba(255, 255, 255, 0.30);
   border-radius: 25px;
}

#label_finishTransactionMessage {
   font-family: 'El Messiri';
   font-style: normal;
   font-weight: 400;
   font-size: 52px;
   text-align: center;
   line-height: auto;
   qproperty-alignment: AlignCenter;
   border-radius: 20px;
   color: #895E25;
   border: none;
}

#label_product_summary_background{
   background: #fffefd;
   border-radius: 25px;
   color: transparent;
}

#label_volume_dispensed{
   font-weight: 700;
}

.label_volume_dispensed_ml {
   text-align: left;
   qproperty-alignment: AlignLeft;
   color: #211403;
   font-family: 'Lato';
   font-size: 30px;
   font-style: normal;
   font-weight: 400;
}

#label_product_name{
   font-weight: 700;
   text-align: left;
   qproperty-alignment: AlignLeft;
   color: #211403;
   font-family: 'Lato';
   font-size: 30px;
   font-style: normal;
}

#label_product_selected{
   text-align: left;
   qproperty-alignment: AlignLeft;
   color: #211403;
   font-family: 'Lato';
   font-size: 30px;
   font-style: normal;
   font-weight: 400;
}

#label_dispense_message {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   text-align: left;
   qproperty-alignment: AlignVCenter;
   color: #FFFFFF;
   font-size: 24px;
}

#label_dispense_message_background{
   background-color: #bc8439;
   border-radius: 15px;
}

#pushButton_problems.normal {
   background: #FFF;
   border: 5px solid #895E25;
   border-radius: 25px;
   color: #895E25;
   text-align: center;
   qproperty-alignment: AlignCenter;
   font-family: 'Lato';
   font-size: 48px;
   font-weight: 400;
}

#pushButton_problems.alert {
   background: #895E25;
   border: 5px solid #895E25;
   border-radius: 25px;
   color: #FFF;
   text-align: center;
   qproperty-alignment: AlignCenter;
   font-family: 'Lato';
   font-size: 48px;
   font-weight: 400;
}

#pushButton_abort {
   background: #FFF;
   border: 5px solid #895E25;
   border-radius: 25px;
   color: #895E25;
   text-align: center;
   qproperty-alignment: AlignCenter;
   font-family: 'Lato';
   font-size: 48px;
   font-weight: 400;
}

QPushButton {
   font-family: 'Brevia';
   font-style: normal;
   font-weight: 50;
   font-size: 32px;
   color: #003840;
   background-color: #CCC9C7;
   border: 0px;
   text-align: center;
   border-radius: 20px;
   border: none;
}

#pushButton_debug_Button {
   /* color: #5E8580; */
   background-color: transparent;
   /* border: 5px; */
   /* border-color: #5E8580; */
}

QMessageBox {
   min-width: 7000px;
   font-size: 24px;
   font-weight: bold;
   font-style: normal;
   font-family: 'Montserrat';
}

QMessageBox.msgBoxbutton QPushButton{
   font-size: 24px;
   min-width: 300px;
   min-height: 300px;
}
