QPushButton {
    background-color: transparent;
    border: 0px;
}

QLabel {
    font-family: 'EuropaNuova';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 99px;
    color: #003840;
    text-align: center;
    /* qproperty-alignment: AlignCenter; */
    border: none;
}

#label_product_menu_title {
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    color: #001810;
    text-align: center;
    qproperty-alignment: AlignCenter;
    font-family: 'El Messiri';
}

#label_base_products_section_bg{
    border-top-right-radius: 35px;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgba(226, 185, 133, 0.20), stop:0.9 rgba(226, 185, 133, 0.00));
}

#label_base_products_section_title{
    color:#001810;
    font-family: 'El Messiri';
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    qproperty-alignment: AlignCenter;
}

.active{
    background: #E2B985;
    border-radius: 35px;
}

.inactive{
    background: transparent;
}

.pushButton_base_product{
    background-color: transparent;
    border: 0px;
}

/* .label_base_product_picture{
    border: 1px solid purple;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-clip: content;
} */

.label_base_product_name{
    color: #003840;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-transform: capitalize;
    text-align: center;
    qproperty-alignment: AlignCenter;
}

#label_dispense_products_section_title{
    color:#001810;
    font-family: 'El Messiri';
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    text-align: left;
    qproperty-alignment: AlignLeft;
}

.label_dispense_product_name{
    color: #003840;
    font-family: 'Lato';
    font-style: normal;
    text-align: center;
    font-size: 24px;
    qproperty-alignment: AlignCenter;
}

#pushButton_to_idle {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #001810;
    text-align: left;
    qproperty-alignment: AlignCenter;
    border: none;
}

.PushButton_selection {
    background-color: transparent;
    border: 0px;
}

.label_product_overlay_available {
    background-color: transparent;
    /* color: #a7a1a1; */
    color: #ffffff;
    font-size: 75px;
}
/* .label_product_overlay_available {
    color: #ffffff;
} */
.label_product_overlay_unavailable {
    font-size: 75px;
    color: #ffffff;
    background-color: rgba(64, 64, 64, 0.8); /* (x,x,x,0.9) is for 10% visibility */
    border-radius: 20px; 
    /* background-color: rgba(0, 0, 0, 80); */


}

.label_product_type {
    /* font-family: 'Lora'; */
    /* font-family: 'Vollkorn'; */
    font-family: 'EuropaNuova-ExtraBold';
    font-weight: 700;
    font-style: normal;
    font-size: 37px;
    line-height: 49px;
    text-align: center;
    qproperty-alignment: AlignCenter;
    color: #221F20;
}

.label_product_name {
    line-height: 36px;
    text-align: center;
    qproperty-alignment: AlignCenter;
    font-family: 'EuropaNuova-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #221F20;
}

.label_product_photo {
    /* border: 1px solid black;  */
}

.label_base_product_picture{
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-clip: content;
}
#label_dispense_product_picture_1{
    border-top-left-radius: 0px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    background-image: url(%IMAGE_PATH0%);
}

#label_dispense_product_picture_2{
    border-radius: 100px;
    background-image: url(%IMAGE_PATH1%);
}

#label_dispense_product_picture_3{
    border-top-left-radius: 100px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    background-image: url(%IMAGE_PATH2%);
}

#label_dispense_product_picture_4{
    border-top-left-radius: 0px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 0px;
    background-image: url(%IMAGE_PATH3%);
}

#label_dispense_product_picture_5{
    border-top-left-radius: 0px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 100px;
    background-image: url(%IMAGE_PATH4%);
}

#label_dispense_product_picture_6{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 50px;
    background-image: url(%IMAGE_PATH5%);
}