/* QPushButton {
   background-color: transparent;
   border: 0px;
} */

#label_product_price {
   qproperty-alignment: 'AlignVCenter | AlignRight';
   text-align: right;
   font-weight: 700;
   font-size: 30px;
   font-family: 'Lato';
   color: #211403;
   font-style: normal;
}

#label_product_information{
   font-weight: 700;
   font-size: 30px;
   font-family: 'Lato';
   color: #211403;
   font-style: normal;
}

#label_qr_background{
   border-radius: 25px;
   background: #FFF7ED;
}

QPushButton {
   font-family: 'Brevia';
   font-style: normal;
   font-weight: 50;
   font-size: 32px;
   color: #003840;
   background-color: #FFFFFF;
   border: 0px;
   text-align: centre;
   border-radius: 20px;
   border: none;
}

#pushButton_previous_page{
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   color: #001810;
   text-align: left;
   qproperty-alignment: AlignCenter;
   border: none;
   background: transparent;
}


.invisible_button{
   background-color: transparent;
   border: 0px;
}
 
#label_title {
   font-family: 'El Messiri';
   font-style: normal;
   font-weight: 400;
   font-size: 64px;
   text-align: center;
   color: #221F20;
   qproperty-alignment: AlignCenter;
}

#label_refresh_page{
   color: white;
   font-family: 'El Messiri';
   font-size: 24px;
   font-style: normal;
   font-weight: 400;
   text-align: left;
   qproperty-alignment: AlignLeft;
}

#label_refresh_page_background{
   background: #BC8439;
   border-radius: 15px;
}

#label_scan {
   font-family: 'El Messiri';
   color: #895E25;
   font-size: 40px;
   font-style: normal;
   font-weight: 700;
   qproperty-alignment: 'AlignVCenter | AlignCenter';
}

#label_steps {
   color: black;
   font-family: 'El Messiri';
   font-size: 30px;
   font-style: normal;
   font-weight: 700;
}

#label_processing {
   color: #895E25;
   qproperty-alignment: AlignCenter;
   font-family: 'El Messiri';
   font-size: 48px;
   font-style: normal;
   font-weight: 700;
}

#label_gif{
   qproperty-alignment: 'AlignVCenter | AlignCenter';
}

QMessageBox {
   min-width: 7000px;
   font-size: 24px;
   font-weight: bold;
   font-style: normal;
   font-family: 'Montserrat';
}

QMessageBox.msgBoxbutton QPushButton{
   font-size: 24px;
   min-width: 300px;
   min-height: 300px;
}

QLabel {
   /*this label controls the color of the checkbox */
   color: black;
   font-family: 'EuropaNuova-Regular';
   font-weight: 400;
   font-style: normal;
   font-size:24px;
   color: #58595b;
   font-style:light;
}
