#statusbar_bg{
    background-color: #272A32;
 }
 
 QPushButton {
    font-family: 'Brevia';
    font-style: normal;
    font-weight: 20;
    font-size: 16px;
    color: #003840;
    background-color: #FFFFFF;
    border: 1px;
    text-align: center;
    border-radius: 5px;
    border: none;
 }
 
 #pushButton_hide{
    background: red;
 }
 
 QLabel {
    font-family: 'EuropaNuova-Regular';
    font-style: normal;
    font-weight: 20;
    font-size: 16px;
    color: #8694B1;
    background-color: #323741;
    border: 3px solid #8694B1;
    text-align: center;
    /* border-radius: 5px; */
    qproperty-alignment: AlignCenter;
 }
 
 .normal {
    background-color: #c0c4c3;
 }
 .alert {
    background-color: #b77b04;
 }
 
 /* 
 #label_active_role {
    font-family: 'Brevia';
    font-style: normal;
    font-weight: 20;
    background-color: #5E8580;
    font-size: 12px;
    text-align: center;
    line-height: auto;
    border-radius: 20px;
    color: white;
    border: none;
    }
 
 #label_temperature_warning {
       font-family: 'Brevia';
       font-style: normal;
       font-weight: 100;
       background-color: #5E8580;
       font-size: 84px;
       text-align: center;
       line-height: auto;
       border-radius: 20px;
       color: rgb(189, 18, 18);
       border: none;
       }
       
 #pushButton_to_select_product_page {
 
    background-color: transparent; 
    border: 0px;
    } */