QPushButton {
   background-color: transparent;
   border: 0px;
}


QLabel {
   font-family: 'EuropaNuova-ExtraBold';
   font-style: normal;
   font-weight: 400;
   font-size: 85px;
   line-height: 95px;
   text-align: center;
   letter-spacing: 1.5px;
   color: #FFFFFF;
   qproperty-alignment: AlignCenter;
}

#label_manufacturer_logo{
   qproperty-alignment: AlignCenter;
}

#label_message_2 {
   font-family: 'EuropaNuova-Regular';
   font-style: normal;
   font-weight: 400;
   font-size: 36px;
   line-height: 44px;
   text-align: center;
   letter-spacing: 1.5px;
   color: #FFFFFF;
   qproperty-alignment: AlignCenter;
}


.volumeDispensedStylesheet {

   font-family: 'EuropaNuova-Regular';
   font-style: normal;
   font-weight: 400;
   font-size: 30px;
   text-align: center;
   line-height: auto;
   letter-spacing: 0px;
   qproperty-alignment: AlignCenter;
   border-radius: 20px;
   color: #5E826A;
   border: none;
}

#pushButton_contact {
   color: #FFFFFF;
   background-color: transparent;
   border: 5px solid #FFFFFF;
   text-align: center;
   border-radius: 20px;
   font-family: 'EuropaNuova-ExtraBold';
   font-size: 20px;
   font-weight: 400;
   font-style: normal;
}