#pushButton_to_idle{
   text-align: left;
   color: #221F20;
   font-family: 'EuropaNuova-Regular';
   font-style: normal;
   font-weight: 700;
   font-size: 35px;
   color: #221F20;
   qproperty-alignment: AlignCenter;
   text-align: left;
   border: none;
}

#label_email_title{
    color: yellow;
    font-size: 35px;
}

.keyboardTextEntry{
    color: red;
}