#label_finishTransactionMessage {
   font-family: 'Brevia';
   font-style: normal;
   font-weight: 100;
   font-size: 52px;
   text-align: center;
   line-height: auto;
   qproperty-alignment: AlignCenter;
   border-radius: 20px;
   color: #5e8580;
   border: none;
}

.label_volume_dispensed_ml {
   font-family: 'EuropaNuova-Regular';
   font-style: normal;
   font-weight: 400;
   font-size: 30px;
   text-align: center;
   line-height: auto;
   qproperty-alignment: AlignCenter;
   border-radius: 20px;
   color: #5E826A;
   /* color: white; */
   border: none;

}

#label_to_refill {
   font-family: 'EuropaNuova-ExtraBold';
   font-style: normal;
   font-weight: 400;
   font-size: 78px;
   background-color: transparent;
   border: 0px;
   line-height: 52px;
   color: #FFFFFF;
   text-align: center;
   qproperty-alignment: AlignCenter;
   border: none;

}

#label_instructions_container {
   font-family: 'EuropaNuova-Regular';
   font-style: normal;
   font-weight: 400;
   font-size: 55px;
   background-color: transparent;
   border: 0px;
   line-height: 52px;
   color: #FFFFFF;
   text-align: center;
   qproperty-alignment: AlignCenter;
   border: none;
}

#label_press {
   font-family: 'EuropaNuova-Regular';
   font-style: normal;
   font-weight: 400;
   font-size: 55px;
   background-color: transparent;
   border: 0px;
   line-height: 52px;
   color: #FFFFFF;
   text-align: center;
   qproperty-alignment: AlignCenter;
   border: none;
}


#label_dispense_message {
   font-family: 'Brevia';
   font-style: normal;
   font-weight: 75;
   font-size: 42px;
   background-color: orangered;
   border: 0px;
   line-height: 99px;
   color: #FFFFFF;
   text-align: center;
   qproperty-alignment: AlignCenter;
   border: none;
   border-radius: 20px;
}

#pushButton_problems.normal {
   font-family: 'EuropaNuova-Regular';
   font-style: normal;
   font-weight: 400;
   background-color: #5E826A;
   font-size: 42px;
   text-align: center;
   line-height: auto;
   qproperty-alignment: AlignCenter;
   border-radius: 20px;
   color: white;
   border: 5px double white;
}

#pushButton_problems.alert {
   font-family: 'EuropaNuova-Regular';
   font-style: normal;
   font-weight: 400;
   background-color: #b87b0b;
   font-size: 42px;
   text-align: center;
   line-height: auto;
   qproperty-alignment: AlignCenter;
   border-radius: 20px;
   color: white;
   border: 5px double white;
}

#pushButton_debug_Button {
   color: #5E8580;
   background-color: transparent;
   border: 5px;
   border-color: #5E8580;
}

#pushButton_abort {
   font-family: 'EuropaNuova-ExtraBold';
   font-style: normal;
   font-weight: 400;
   background-color: transparent;
   font-size: 45px;
   text-align: center;
   line-height: auto;
   qproperty-alignment: AlignCenter;
   border-radius: 25px;
   color: white;
   border: 5px solid white;

}

QPushButton {
   font-family: 'Brevia';
   font-style: normal;
   font-weight: 50;
   font-size: 32px;
   color: #003840;
   background-color: #FFFFFF;
   border: 0px;
   text-align: center;
   border-radius: 20px;
   border: none;
  
}

QMessageBox {
   min-width: 7000px;
   font-size: 24px;
   font-weight: bold;
   font-style: normal;
   font-family: 'Montserrat';
}

QMessageBox.msgBoxbutton QPushButton{
   font-size: 24px;
   min-width: 300px;
   min-height: 300px;
}
