/* QPushButton {
   background-color: transparent;
   border: 0px;
} */

QPushButton {
   font-family: 'Brevia';
   font-style: normal;
   font-weight: 50;
   font-size: 32px;
   color: #003840;
   background-color: #FFFFFF;
   border: 0px;
   text-align: centre;
   border-radius: 20px;
   border: none;
}

#pushButton_previous_page{
   font-family: 'EuropaNuova-Regular';
   font-style: normal;
   font-weight: 700;
   font-size: 65px;
   color: white;
   text-align: center;
   qproperty-alignment: AlignCenter;
   border: none;
   background: transparent;
}


.invisible_button{
   background-color: transparent;
   border: 0px;
}
 
#label_title {
   font-family: 'EuropaNuova-ExtraBold';
   font-style: normal;
   font-weight: 400;
   font-size: 64px;
   line-height: 86px;
   text-align: center;
   color: #221F20;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#label_scan {
   text-align: center;
   font-family: 'EuropaNuova-Regular';
   font-style: normal;
   font-weight: 400;
   font-size: 48px;
   color: #58595B;
   /* } .tab { */
   display: inline-block;
   margin-left: 40px;
}

#label_steps {
   position: absolute;
   font-family: 'EuropaNuova-ExtraBold';
   font-style: normal;
   font-weight: 400;
   font-size: 36px;
   line-height: 51px;
   color: #58595B;
}

#label_processing {
   position: absolute;
   width: 777px;
   height: 306px;
   left: 143px;
   top: 1029px;
   font-family: 'EuropaNuova-ExtraBold';
   font-style: normal;
   font-weight: 400;
   font-size: 36px;
   line-height: 51px;
   color: #221F20;
}

QMessageBox {
   min-width: 7000px;
   font-size: 24px;
   font-weight: bold;
   font-style: normal;
   font-family: 'Montserrat';
}

QMessageBox.msgBoxbutton QPushButton{
   font-size: 24px;
   min-width: 300px;
   min-height: 300px;
}

QLabel {
   /*this label controls the color of the checkbox */
   color: black;
}
