[Unit]
Description=Hello Service

[Service]
Type=simple
ExecStart=/home/df-admin/production/admin/check_connectivity.sh
Restart=always
RestartSec=1800

[Install]
WantedBy=multi-user.target


