[Unit]
Description=Enable IP Forwarding and Configure Ethernet Ports

[Service]
Type=simple
Restart=always
RestartSec=60
StartLimitIntervalSec=60
StartLimitBurst=5
ExecStart=/home/df-admin/production/admin/tap_payment/enableIPForward.sh

[Install]
WantedBy=multi-user.target