[Unit]
Description=SSH Connection Monitor
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/home/df-admin/production/admin/ssh_monitor.sh
Restart = always
RestartSec = 300
RuntimeMaxSec=2h

[Install]
WantedBy=default.target
