QPushButton {
   font-family: 'Brevia';
   font-style: normal;
   font-weight: 20;
   font-size: 16px;
   color: transparent;
   background-color: transparent;
   text-align: center;
   border-radius: 5px;
}
