
QPushButton { 

   background-color: transparent; 
   border: 0px }

QLabel {

   font-family: 'Brevia';
   font-style: normal;
   font-weight: 700;
   font-size: 85px;
   line-height: 99px;
   text-align: center;
   color: #FFFFFF;
   qproperty-alignment: AlignCenter;
   }

#label_printer_status {
   font-family: 'Brevia';
   font-style: normal;
   font-weight: 100;
   background-color: #5E8580;
   font-size: 42px;
   text-align: center;
   line-height: auto;
   /* qproperty-alignment: AlignCenter; */
   border-radius: 20px;
   color: white;
   border: none;
   }

#label_temperature_warning {
      font-family: 'Brevia';
      font-style: normal;
      font-weight: 100;
      background-color: #5E8580;
      font-size: 84px;
      text-align: center;
      line-height: auto;
      /* qproperty-alignment: AlignCenter; */
      border-radius: 20px;
      color: rgb(189, 18, 18);
      border: none;
      }
      
#pushButton_to_select_product_page {

   background-color: transparent; 
   border: 0px;
   }

QMessageBox {
   min-width: 7000px;
   font-size: 24px;
   font-weight: bold;
   font-style: normal;
   font-family: 'Montserrat';
}

QMessageBox.msgBoxbutton QPushButton {
   font-size: 24px;
   min-width: 300px;
   min-height: 300px;
}
      
#label_reboot_nightly_title{
   font-size: 26px;
   color: #3E4153;
   font-family:'EuropaNuova-ExtraBold';
}
#label_reboot_nightly_text{
   font-size: 16px;
   color: #9A9AA6;
}
#label_reboot_nightly_bg{
   background: #FFFFFF;
   border-radius: 5px;
}
#pushButton_reboot_nightly{
   background: #FFD42A;
   border: 1px solid white;
   text-transform: uppercase;
   color: #3E4153;
   font-size: 22px;
   border-radius: 5px;
}
