

.soldOutButton_unavailable { 
   background-color: #5E8680;
   font-size: 36px; 
}

.soldOutButton_available  { 
   background-color: #E0A0A0;
   font-size: 36px;  
}

.pump_disable{
   background-color: #E0A0A0;
   font-size: 20px;
}
.pump_enable{
   background-color: #AAAAAA;
   font-size: 20px;
}
#refillButton{
   font-size: 36px;}

QMessageBox {

   min-width: 7000px; 
   font-size: 24px;
}

QMessageBox.msgBoxbutton QPushButton{
   
   font-size: 18px;
   min-width: 300px; 
   min-height: 300px;
}

QLabel {
   /*this label controls the color of the checkbox */
   color: black;
}

/* QPushButton {
   font-family: 'Brevia';
   font-style: normal;
   font-weight: 75;
   font-size: 20px;
   line-height: 99px;
   letter-spacing: px;
   color: green;
   text-align: center;
   qproperty-alignment: AlignCenter;
   border: none;
   }
   QFont {
      
      font-family: Brevia;
      font-size: 20pt;
   font-weight: 200;
   font-style: normal;
} */
/* 

#label_help {
   
   font-family: 'Brevia';
   font-style: normal;
   font-weight: 75;
   font-size: 20px;
   line-height: 99px;
   letter-spacing: px;
   color: #FFFFFF;
   text-align: center;
   qproperty-alignment: AlignCenter;
   border: none;
}

/* #pushButton_to_idle {

   font-family: 'Brevia';
   font-style: normal;
   font-weight: 75;
   font-size: 20px;
   line-height: 99px;
   letter-spacing: px;
   color: #FFFFFF;
   text-align: center;
   qproperty-alignment: AlignCenter;
   border: none;
} */

/* .button_transparent {
   background-color: transparent;
   border: 0px;
} 
#pushButton_to_idle {

   font-family: 'Brevia';
   font-style: normal;
   font-weight: 75;
   font-size: 32px;
   background-color: transparent;
   /* border: 0px; */
   
