.css_title {


   /*QString css_title = "QLabel{"*/
   position: absolute;
   width: 877px;
   height: 104px;
   left: 94px;
   top: 336px;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 600;
   font-size: 48px;
   line-height: 52px;
   text-transform: capitalize;
   color: #5E8580;
}
#label_select_quantity {

   font-family: 'Brevia';
   font-style: normal;
   font-weight: 200;
   font-size: 36px;
   line-height: auto;
   letter-spacing: 0px;
   color: #58595B;
   border: none;
   }


#back_Button {
   /*QPushButton*/
   font-family: 'Brevia';
   font-style: normal;
   font-weight: 75;
   font-size: 32px;
   line-height: 99px;
   letter-spacing: 1.5px;
   text-transform: lowercase;
   color: #003840;
   text-align: center;
   qproperty-alignment: AlignCenter;
   border: none;
}

QFont {

   font-family: Brevia;
   font-size: 20pt;
   font-weight: 200;
   font-style: normal;
}

#label_product_description{
   position: absolute;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 36px;
   color: #58595B;
   }


/*.buttonTransparent{
   background-color: transparent;
   border: 0px;
}

.buttonPreviousPage{
   font-family: 'Brevia';
   font-style: normal;
   font-weight: 75;
   font-size: 32px;
   line-height: 99px;
   letter-spacing: 1.5px;
   color: #003840;
   text-align: center;
   border: none;
   background: transparent;
}

.labelMailFeedback{
   font-family: 'Brevia';
      font-style: normal;
      font-weight: 75;
      font-size: 43px;
      line-height: 99px;
      letter-spacing: 1.5px;
      color: #438080;
      text-align: center;
      qproperty-alignment: AlignCenter;
      border: none;
}
.checkBoxLabelStyling{
   font-family: 'Brevia';
   font-style: normal;
   font-weight: 75;
   font-size: 32px;
   line-height: 99px;
   letter-spacing: 1.5px;
   color: #FFFFFF;
   text-align: left;
   qproperty-alignment: AlignCenter;
   border: none;
   wordWrap:true;
   background-color: #5E8680;
   padding: 10px;
}

#textEdit_custom_message{
   font-family: Montserrat;
   font-style: normal;
   font-weight: bold;
   font-size: 28px;
   line-height: 44px;
   color: #5E8580;
   border-color:#5E8580;
}

#pushButton_help_page{
   background-color: transparent; 
   border: 0px ;
}

#label_select_problem{     
   font-family: 'Brevia';
   font-style: normal;
   font-weight: 75;
   font-size: 55px;
   line-height: 99px;
   letter-spacing: 1.5px;
   color: #003840;
   text-align: center;
   border: none;
   qproperty-alignment: AlignCenter;
}

#pushButton_to_idle{
   background-color: transparent; 
   border: 0px;
}

#label_problem_options{
   background-color: #5E8680;
   border-radius: 30px;
}

#label_still_cant_find{
   
      font-family: 'Brevia';
      font-style: normal;
      font-weight: 75;
      font-size: 43px;
      line-height: 99px;
      letter-spacing: 1.5px;
      color: #438080;
      text-align: center;
      qproperty-alignment: AlignCenter;
      border: none
}

#label_enter_feedback{
   font-family: 'Brevia';
   font-style: normal;
   font-weight: 75;
   font-size: 20px;
   line-height: 99px;
   letter-spacing: 1.5px;
   background-color: #5E8680;
   color: #FFFFFF;
   text-align: left;
   border-radius: none;
   padding: 10px;
}

QLabel { 
   color:#555555; 
   text-align: center;
   border: 1px; 
}

QPushButton {
   font-family: 'Brevia';
   font-style: normal;
   font-weight: 75;
   font-size: 35px;
   line-height: 99px;
   letter-spacing: 1.5px;
   background-color: #5E8680;
   color: #FFFFFF;
   text-align: center;
   border-radius: 30px;
   padding: 10px;
   border: 2px solid #004D54;
}

QString {
   font-family: 'Brevia';
   font-style: normal;
   font-weight: 75;
   font-size: 35px;
   line-height: 99px;
   letter-spacing: 1.5px;
   background-color: #5E8680;
   color: #FFFFFF;
   text-align: center;
   border-radius: 30px;
   padding: 10px;
   border: 2px solid #004D54;
}

QLineEdit {
   font-family: 'Brevia', sans-serif;
   font-style: normal;
   font-weight: 75;
   font-size: 32px;
   line-height: 99px;
   letter-spacing: 1.5px;
   color: #003840;
   border: none;
}
*/