
QPushButton { 

   background-color: transparent; 
   border: 0px }

QLabel {

   font-family: 'Brevia';
   font-style: normal;
   font-weight: 30;
   background-color: #5E8580;
   font-size: 12px;
   text-align: center;
   line-height: auto;
   /* qproperty-alignment: AlignCenter; */
   border-radius: 30px;
   color: white;
   border: none;
   }
/* 
#label_active_role {
   font-family: 'Brevia';
   font-style: normal;
   font-weight: 20;
   background-color: #5E8580;
   font-size: 12px;
   text-align: center;
   line-height: auto;
   border-radius: 20px;
   color: white;
   border: none;
   }

#label_temperature_warning {
      font-family: 'Brevia';
      font-style: normal;
      font-weight: 100;
      background-color: #5E8580;
      font-size: 84px;
      text-align: center;
      line-height: auto;
      border-radius: 20px;
      color: rgb(189, 18, 18);
      border: none;
      }
      
#pushButton_to_select_product_page {

   background-color: transparent; 
   border: 0px;
   } */
      
